rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Avatar profil — pemilik bisa upload, semua bisa baca
    match /avatars/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Foto produk — pemilik bisa upload, semua bisa baca
    match /products/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Foto donasi — pemilik bisa upload, semua bisa baca
    match /donations/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Logo toko — pemilik bisa upload, semua bisa baca
    match /stores/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
